# Entorno virtual
venv/
env/
include/
lib/
*.pyc
__pycache__/

# Archivos temporales
*.log
*.sqlite3
*.pot
*.py[cod]
*$py.class

# Archivos de configuración del editor
.vscode/
.idea/
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de migraciones innecesarios
**/migrations/*.pyc
**/migrations/__pycache__/

# Archivos compilados
*.so
